
body{
    align-content: center;
}

form{
    padding: 20px; 
    border: 5px solid black;
    width: 200px;
    height:300px;
    background-color:brown;

}

#display{
    width:200px;
    height:50px;
    text-align:right;
    border:2px solid black;
    font-size:30px;
}

#b1{
    width:40px;
    height:35px;
    background: burlywood;

}
#b2{
    width:40px;
    height:35px;
    background: burlywood;

}
#b3{
    width:40px;
    height:35px;
    background: burlywood;
}
#b4{
    width:40px;
    height:35px;
    background: gold;
}
#b5{
    width:40px;
    height:35px;
    background: burlywood;

}
#b6{
    width:40px;
    height:35px;
    background: burlywood;
}
#b7{
    width:40px;
    height:35px;
    background: burlywood;
}
#b8{
    width:40px;
    height:35px;
    background: gold;
}
#b9{
    width:40px;
    height:35px;
    background: burlywood;

}
#b10{
    width:40px;
    height:35px;
    background: burlywood;
}
#b11{
    width:40px;
    height:35px;
    background: burlywood;
}
#b12{
    width:40px;
    height:35px;
    background: gold;
}
#b13{
    width:40px;
    height:35px;
    background: burlywood;
}
#b14{
    width:40px;
    height:35px;
    background: red;
}
#b15{
    width:40px;
    height:35px;
    background: gold;
}
#b16{
    width:40px;
    height:35px;
    background: blue;
}


